<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>
     <a href="https://imprint.mpi-klsb.mpg.de/sws/cschmitt.pages.mpi-sws.org/academicpages">Imprint</a>
     |
     <a href="https://data-protection.mpi-klsb.mpg.de/sws/cschmitt.pages.mpi-sws.org/academicpages" >Data Protection</a>
<!-- end custom footer snippets -->
